@layer default {
  .button {
    box-sizing: content-box;
    background: #ff7f50;
    box-shadow: #ff7645 0 0 3px 2px;
    transition: all 0.15s;
    padding: 0 20px;
    height: 50px;
    border-radius: 25px;
    font-size: 25px;
    font-weight: 700;
    color: white;
  }
  .button:hover {
    color: #cccccc;
  }

  .button:active {
    color: #aaaaaa;
  }
}
