.authPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000088;
  height: 100vh;
  color: white;
}

.authFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.themeSwitchContainer {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  right: 32.5px;
  top: 32.5px;
}
.themeSwitch {
  color: white;
}

.mobileAuthFormContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.logoContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #000088;
  gap: 50px;
}

.logo {
  height: 150px;
  width: 150px;
  fill: white;
}

.returnPreviousPageButton {
  display: flex;
  color: white;
  justify-content: center;
}

.returnPreviousPageButton:hover {
  color: #ddd;
}

.returnPreviousPageButton:active {
  color: #aaa;
}

.returnPreviousPageButton:hover .chevronsLeftIcon {
  animation: moveArrow 0.6s ease-in-out forwards;
}

.returnPreviousPageButton:active .chevronsLeftIcon {
  animation: hideArrow 0.1s ease-in-out forwards;
}

@keyframes moveArrow {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(-100px); /* Убегает влево */
    opacity: 0;
  }
  51% {
    transform: translateX(100px); /* Перемещается вправо */
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1; /* Возвращается на место */
  }
}

@keyframes hideArrow {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100px); /* Убегает влево */
    opacity: 0;
  }
}
@media (min-width: 1024px) {
  .authPageContainer {
    flex-direction: row;
    background: none;
    color: black;
  }
  .logoContainer {
    height: 100vh;
    min-width: 512px;
    width: 512px;
    box-shadow: #000055 0px 0px 15px 4px;
    border-start-end-radius: 40%;
    border-end-end-radius: 40%;
  }
  .logo {
    height: 300px;
    width: 300px;
  }
  .authFormContainer {
    display: flex;
    height: 100vh;
    flex-grow: 1;
  }
  .mobileAuthFormContainer {
    display: none;
  }
  .themeSwitch {
    color: black;
  }
  .returnPreviousPageButton {
    display: flex;
    color: black;
    justify-content: center;
  }
  .returnPreviousPageButton:hover {
    color: #999;
  }

  .returnPreviousPageButton:active {
    color: #555;
  }
}
