.advertisementCard {
  padding: 10px;
  display: flex;
  max-width: 300px;
  flex-direction: column;
  border: black 1px solid;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
  transition: box-shadow 0.3s ease-in-out;
  max-width: 300px;
  word-break: break-word;
}
.advertisementCard:hover {
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.7);
}
.description {
  max-height: 70px;
  overflow-y: auto;
  word-break: break-word;
}
.bottomContentContainer {
  display: flex;
  justify-content: space-between;
}
